# DownAria-API (Backend) Configuration

PORT=8081
ENV=development

# CORS & Keamanan (Gunakan koma untuk banyak origin)
ALLOWED_ORIGINS=http://127.0.0.1:3001,http://localhost:3001,http://localhost:8081
WEB_INTERNAL_SHARED_SECRET=change-this-in-production

# Performance Settings
UPSTREAM_TIMEOUT_MS=50000
MERGE_ENABLED=true          #Fitur Penggabungan Video (FFmpeg)
GLOBAL_RATE_LIMIT_WINDOW=200/4min #Global IP rate limit: <limit>/<window>
MAX_DOWNLOAD_SIZE_MB=1024   #Batas Ukuran Download (MB) - Default: 1024 (1GB)

# Stats Settings
STATS_PERSIST_ENABLED=true
STATS_PERSIST_FILE_PATH=./data/public_stats.json
STATS_PERSIST_FLUSH_INTERVAL_MS=5000

# Cache Settings
CACHE_EXTRACTION_TTL=5m
CACHE_PROXY_HEAD_TTL=45s

ENABLE_PROFILING=false
